<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <context:component-scan base-package="studentcurs"/>-->

<!--    <import resource="extra-spring-context.xml"/>-->

    <bean name="userDAO" class="dao.map.UserDAOImpl">
    </bean>
    <bean name="courseDAO" class="dao.map.CourseDAOImpl">
    </bean>

    <bean id="userService" class="service.UserServiceImpl">
        <constructor-arg index="0" ref="userDAO"/>
        <!--        <property name="userDAO" ref="userDAO" />-->
    </bean>

    <!--    <bean id="userService" class="service.UserServiceImpl" autowire="byType">-->
    <!--        <property name="userDAO" ref="userDAO" />-->
    <!--    </bean>-->
    <bean id="courseService" class="service.CourseServiceImpl">
          <property name="courseDAO" ref="courseDAO"/>
    </bean>


</beans>